{% extends 'arxiv/base.html' %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
<h1>Author Information</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<dl>
    <dt>Name</dt><dd>{{ author.name }}</dd>
    <dt>Articles</dt>
    <dd>
        <ul class='article-list'>
        {% for article in author.articles.all %}
            {% include 'arxiv/snippets/article_item.html' with article=article %}
        {% endfor %}
        </ul>
    </dd>
</dl>
{% endblock %}
